@model carousel_maker.ModelView.CarouselViewModel

@{
    Layout = "_Layout";
}
<div id="alert" class="element-to-hide hidden fixed bottom-10 left-4 bg-green-500 text-white px-6 py-3 rounded-md shadow-lg transient">
    <p>Copied!</p>
</div>
<button id="copyButton" class="z-50 fixed bottom-4 right-4 element-to-hide rounded-full bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 px-5 py-3 text-center text-white shadow-lg">
    Copy
</button>
<div class="overlay"></div>

<script>
    function decodeHtml(htmlString) {
        const tempElement = document.createElement('div');
        tempElement.innerHTML = htmlString;
        return tempElement.textContent || tempElement.innerText;
    }

    document.getElementById('copyButton').addEventListener('click', async () => {
        let encodedText = "@Model.Text"
        const decodedText = decodeHtml(encodedText);
        try {
            await navigator.clipboard.writeText(decodedText);
        } catch (err) {
            console.error('Failed to copy text:', err);
        }
        showCopiedAlert()
    });
    function showCopiedAlert() {
        var alertDiv = document.getElementById('alert');
        alertDiv.classList.remove('hidden');
        setTimeout(function() {
            alertDiv.classList.add('hidden');
        }, 2000);
    }
</script>
<div class="carousel">
    @foreach (var item in Model.Content)
    {
        <div class="item print-item relative">
            @if (item.Id == 1)
            {
                <div class="px-5 py-1 rounded-full bg-slate-200 text-gray-700 description shadow-md my-3">
                    <span>/*</span> How to Become the Best Version of Myself 😎 <span>*/</span>
                </div>
            }
            else
            {
                <div class="px-5 py-3 rounded-full bg-slate-200 text-gray-700 description shadow-md my-5">
                    <span>/*</span> @Model.Content.First().Title <span>*/</span>
                </div>
            }
            
            <div class="bg-gray-500 bg-opacity-70 shadow-md rounded-md p-10 mx-5">

                @if (item.Id == 1)
                {
                    <div>
                        <div class="inline-block description text-left text-3xl mb-5 text-white text-gray-700" style="font-family: cursive">Topic 📑👨‍💻 : </div>
                    </div>
                }
                <div class="title text-left text-yellow-400 text-5xl mb-5">@item.Title💯</div>
                <div class="description text-white text-3xl mt-3">@item.Body</div>
                <span class="name-info inline-block bg-gray-500 text-white text-xl mt-4 p-2 rounded-xl shadow-md bg-opacity-10 bg-gray-500"><span class="underline">Example</span> : @item.Example</span>
                <span class="name-info inline-block bg-blue-500 text-white text-lg mt-4 p-2 rounded-xl shadow-md">@item.Question🤔</span>
                <span class="name-info inline-block bg-indigo-500 text-white text-lg mt-4 p-2 rounded-xl shadow-md">@item.Answer😃</span>
                <span class="name-info inline-block bg-purple-500 text-white text-lg mt-4 p-2 rounded-xl shadow-md">@item.HashTag</span>


            </div>
            <div class="z-50">
                <div class=" absolute bottom-2 left-2 abs j py-2 px-5 max-w-sm mx-auto bg-gray-500 bg-opacity-30 rounded-xl shadow-lg space-y-1 sm:py-3 sm:flex sm:items-center sm:space-y-0 sm:space-x-4">
                    <img class="block mx-auto h-16 rounded-full sm:mx-0 sm:shrink-0" src="~/amir_shirdel.jpg" alt="Woman's Face"/>
                    <div class="text-center space-y-1 sm:text-left">
                        <div class="space-y-0.5">
                            <p class="name text-lg text-white font-semibold">
                                Amir Shirdel 🧑‍💻
                            </p>
                            <p class="name-info text-slate-200 font-medium">
                                Software Engineer
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-5 absolute bottom-2 right-2 rounded-full shadow-lg text-white title">
                    @item.Id
                </div>

            </div>

        </div>
    }
</div>
