@model carousel_maker.ModelView.CarouselViewModel

@{
    Layout = "_Layout";
}
<div class="carousel">
    @foreach (var item in Model.Content)
    {
        <div class="item print-item relative">
            <div class="bg-gray-500 bg-opacity-40 shadow-md rounded-md p-10 mx-5">

                @if (item.Id == 1)
                {
                    <div>
                        <div class="inline-block description text-left text-3xl mb-5 text-white text-gray-700" style="font-family: cursive">Topic 📑 : </div>
                    </div>
                }
                <div class="title text-left text-yellow-400 text-5xl mb-5">@item.Title</div>
                <div class="description text-white text-4xl mt-2 underline">@item.Description</div>
                <div class="description text-white text-3xl mt-3">@item.LongDescription</div>
                <span class="name-info inline-block text-white text-xl mt-4 p-2 rounded-xl shadow-md"><span class="underline">Example</span> : @item.Example</span>
                <span class="name-info inline-block bg-blue-800 text-white text-lg mt-4 p-2 rounded-xl shadow-md">@item.HashTag</span>


            </div>
            <div class="">
                <div class=" absolute bottom-5 left-5 abs j py-2 px-5 max-w-sm mx-auto bg-gray-500 bg-opacity-30 rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
                    <img class="block mx-auto h-20 rounded-full sm:mx-0 sm:shrink-0" src="~/amir_shirdel.jpg" alt="Woman's Face"/>
                    <div class="text-center space-y-2 sm:text-left">
                        <div class="space-y-0.5">
                            <p class="name text-lg text-white font-semibold">
                                Amir Shirdel 🧑‍💻
                            </p>
                            <p class="name-info text-slate-200 font-medium">
                                Software Architect
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-5 absolute bottom-5 right-5 rounded-full shadow-lg text-white title">
                    @item.Id
                </div>
                <div class="px-5 py-3 absolute top-5 left-5 rounded-full bg-slate-200 text-gray-700 description shadow-md">
                    <span>/*</span> How to Become the Best Version of Myself 😎 <span>*/</span>
                </div>
            </div>

        </div>
    }
</div>